<header id="header" class="header">
  <nav class="navbar navbar-toggleable-md fixed-top header__nav">
      <button class="navbar-toggler navbar-toggler-right header__nav-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav header__ul">
              <li id="home-nav-item" class="nav-item header__nav-item"><a id="home-link" class="nav-link" href="#">Home</a></li>
              <li id="about-nav-item" class="nav-item header__nav-item"><a class="nav-link section-link" href="#about">About</a></li>
              <li id="portfolio-nav-item" class="nav-item header__nav-item"><a class="nav-link section-link" href="#portfolio">Portfolio</a></li>
              <li id="services-nav-item" class="nav-item header__nav-item"><a class="nav-link section-link" href="#services">Services</a></li>
              <li id="blog-nav-item" class="nav-item header__nav-item"><a class="nav-link section-link" href="#blog">Blog</a></li>
              <li id="contact-nav-item" class="nav-item header__nav-item"><a class="nav-link section-link" href="#contact">Contact</a></li>
          </ul>
      </div>
  </nav>
</header>
