<section id="about" class="section about-me-section">
  <div class="container">
      <div class="row justify-content-center">
          <h2 class="section-title">About Me</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius amet rerum, provident nulla ullam quas? Corrupti officia ducimus consequuntur quasi!</p>
      </div>
      <div class="row justify-content-around about__primary-area">
          <div class="col-sm-12 col-md-6 about__personal-info">
              <!--<img src="images/cv_pic.jpg" alt="" class="about__profile-picture">-->
              <div class="about__profile-picture"></div>
              <ul class="about__personal-info-list">
                  <li><span class="about__highlight-text">Full Name:</span>David Horvath</li>
                  <li><span class="about__highlight-text">Birth Date:</span>1995.03.23</li>
                  <li><span class="about__highlight-text">Mobile:</span>+36-30-925-6691</li>
                  <li><span class="about__highlight-text">Email:</span>dhorvath333@gmail.com</li>
              </ul>
              <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-4">     
                      <a role="button" target="_blank" href="pdf/CV_English.pdf" class="about__button about__button-cv"><i class="fa fa-download"></i> CV</a>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                      <a role="button" target="_blank" href="https://www.linkedin.com/in/d%C3%A1vid-horv%C3%A1th-7b1065124/" class="about__button about__button-linkedin"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-4">
                      <a role="button" target="_blank" href="https://github.com/dhorvath333?tab=repositories" class="about__button about__button-github"><i class="fa fa-github"></i> GitHub</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-6 about__skills">
              <h3>Skills</h3>
              <ul class="about__skill-list">
                  <li class="about__skill-item">
                      <h6><i class="devicon-html5-plain"></i> HTML5 / <i class="devicon-css3-plain"></i> CSS3 / <i class="devicon-javascript-plain"></i> JavaScript</h6>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"></div>
                      </div>
                  </li>
                  <li class="about__skill-item">
                      <h6><i class="devicon-angularjs-plain"></i> Angular 4</h6>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%"></div>
                      </div>
                  </li>
                  <li class="about__skill-item">
                      <h6><i class="devicon-mysql-plain"></i> SQL</h6>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%"></div>
                      </div>
                  </li>
                  <li class="about__skill-item">
                      <h6><i class="devicon-sass-plain"></i> Sass</h6>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%"></div>
                      </div>
                  </li>
                  <li class="about__skill-item">
                      <h6><i class="devicon-csharp-plain"></i> C#</h6>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%"></div>
                      </div>
                  </li>
                  <li class="about__skill-item">
                      <h6><i class="devicon-nodejs-plain"></i> Node.js / <i class="devicon-express-original"></i> Express</h6>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%"></div>
                      </div>
                  </li>
                  <li class="about__skill-item">
                      <h6><i class="devicon-gulp-plain"></i> Gulp / <i class="devicon-webpack-plain"></i> Webpack</h6>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%"></div>
                      </div>
                  </li>
                  <li class="about__skill-item">
                      <h6><i class="devicon-react-plain"></i> React</h6>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%"></div>
                      </div>
                  </li>
                  <li class="about__skill-item">
                      <h6><i class="devicon-photoshop-plain"></i> Photoshop</h6>
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%"></div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>