<section id="hero" class="hero-section">
  <div id="particles-js" class="hero__layer">
      <div class="hero__text-area">
          <h1 class="hero__primary-text">I'm David Horvath</h1>
          <h6 class="hero__secondary-text">Web Developer</h6>
          <p>
              My goal is to make modern, beautiful, responsive websites and applications <br>
              with state of the art technologies.
          </p>
          <a role="button" href="#about" class="hero__button section-link">Learn More</a>
      </div>
  </div>
</section>
