<section id="portfolio" class="section portfolio-section">
  <div class="container">
      <div class="row justify-content-center">
          <h2 class="section-title">Portfolio</h2>
      </div>
      <div class="row justify-content-center">
          <ul class="portfolio__filter-list">
              <li class="portfolio__filter-item"><a>Recent</a></li>
              <li class="portfolio__filter-item"><a>All</a></li>
              <li class="portfolio__filter-item"><a>Development</a></li>
              <li class="portfolio__filter-item"><a>Web Design</a></li>
          </ul>
      </div>
      <div class="row portfolio__items-row">
          <div class="col-sm-12 col-md-6 col-lg-3 portfolio__item-container">
              <div class="portfolio__item"></div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 portfolio__item-container">
              <div class="portfolio__item"></div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 portfolio__item-container">
              <div class="portfolio__item"></div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 portfolio__item-container">
              <div class="portfolio__item"></div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-3 portfolio__item-container">
            <div class="portfolio__item"></div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-3 portfolio__item-container">
            <div class="portfolio__item"></div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-3 portfolio__item-container">
            <div class="portfolio__item"></div>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-3 portfolio__item-container">
            <div class="portfolio__item"></div>
         </div>
      </div>
  </div>
</section>