@import '~styles.scss';

#portfolio {
    background: $background-color-light;
}

.portfolio__filter-list {
    list-style: none;
}

.portfolio__filter-item {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid #FFF;
        border-radius: 10px;
    }
}

.portfolio__items-row {
    margin-top: 40px;
}

.portfolio__item-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.portfolio__item {
    background: #FFF;
    width: 250px;
    height: 250px;
    margin: auto;
}