$background-color-dark: #13131D;
$background-color-light: #1B1A28;
$main-color: #22BC65;
$text-color: #FFF;

/*
$background-color-dark: #eee;
$background-color-light: #FFF;
$main-color: #28AFEA;
$text-color: #333;
*/

/* TECHNOLOGIES */

$html5-color: #E44D26;
$css3-color: #1572B6;
$javascript-color: #F0DB4F;
$angular-color: #C4473A;
$nodejs-color: #83CD29;
$sass-color: #CB6699;
$react-color: #61DAFB;
$photoshop-color: #80B5E2;